<h1> Index of all conference attendees </h1>

<% @attendees.each do |attendee| %>
    <div>
    <strong> Name: </strong>  <%= attendee.name %> <br>
    <strong> Company: </strong> <%= attendee.company %> <br>
    <strong> Email: </strong> <%= attendee.email %> <br>
    <strong> Date Registered: </strong> <%= attendee.registered %>

    </div>
  <br>
<% end %>
